%h1.mt-5 テーブルテスト
%p.lead
  テーブルのサンプルを表示する
%table.table.table-striped
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} First
      %th{:scope => "col"} Second
      %th{:scope => "col"} Third
  %tbody
    %tr
      %th{:scope => "row"} 1
      %td Test1
      %td Test2
      %td Test3
    %tr
      %th{:scope => "row"} 2
      %td aaaaaa
      %td bbbbbb
      %td cccccc
    %tr
      %th{:scope => "row"} 3
      %td mmmmmm
      %td tttttt
      %td wwwwww

